body{
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container{
  width: 100%;
  margin-bottom: 70px;
}

#nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}
.nav {
  width: 80%;
  display: flex;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}
img{
  width: 100%;
}
.nav__icon {
  font-size: 18px;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}

#second, #second1, #second2{
  display: none;
}
@media only screen and (max-width: 800px){
  .container{
    background: white;
  }
  section video{
    width: 100%;
  }
  section audio{
    width: 100%;
    border: 1px solid red;
  }
  a{
    text-decoration: none;
  }
  .container #home{
    background: blue;
    height: 100vh;
  }
  .container .navig{
    border: 1px solid blue;
    width: 90%;
    display: flex;
    margin: auto;
  }

  .container .navig button{
    width: 60%;
    background: #fff;
    border: 0px;
    color: blue;
    padding: 10px;
  }


}