body{
  margin: 0px;
}
*{
  box-shadow: border-box;
}
/* page home de l'application*/
header{
    width: 100%;
    height: 200px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1em;
    -webkit-box-shadow: -2px 14px 15px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 14px 15px -13px rgba(0,0,0,0.75);
    box-shadow: -2px 14px 15px -13px rgba(0,0,0,0.75);
}


header .slide{
    max-height: 5px;
}
header img{
    width: 100%;
    height: auto;
}
.container{
  background-color: white;
  margin: 0px;
  height: 100vh;
  
}
main{
  width: 100%;
  height: max-content;
  margin: 0px;
  background-color: white;
}
section{
  margin-top: 2px;
  margin: 2px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border: 1px solid blue;
    border-radius: 7px;
    border-color:linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    animation: animate 1.5s linear infinite;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .card h1{
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .card p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
  }
  .card-bar{
    display: flex;
    width: max-content;
    background-color: white;
    margin-bottom: 0.2em;
    margin: auto;
    padding: 3px;
    -webkit-box-shadow: 3px 2px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 25px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 25px -9px rgba(0,0,0,0.75);
  }
  .card-bar button{
    width: max-content;
    border: 1px solid;
    padding: 4px;
    margin: 3px;
    background-color: rgba(253, 255, 255, 0.116);
  }
  .card-bar button i{
    margin-right: 2px;
    color: blue;
  }
  .card-bar a{
    width: 100%;
    margin: 3px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .button {
    border: 1px solid blue;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(0, 69, 172);
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .card-g{
      display: flex;
  }
  .space{
      width: 10px;
      height: 5px;
  }
  /*boutton sur la page d'accueil de l'application*/
  .btn{
    margin: auto;
    margin-bottom: 0.4em;
    background-color: rgba(13, 13, 228, 0.397);
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 5px;
  }

  /*Fin page home de l'application*/
/*video akey lan la*/
header .open{
  position: fixed;
  top: 1%;
  right: 1%;
  color: red;
  background-color: rgba(252, 252, 252, 0.822);
  border: 0px;
  box-shadow: 0px 0px 8px 2px rgba(68, 0, 255, 0.95);
-webkit-box-shadow: 0px 0px 8px 2px rgba(68, 0, 255, 0.95);
-moz-box-shadow: 0px 0px 8px 2px rgba(68, 0, 255, 0.95);
  background-color: rgba(68, 0, 255, 0.95);
}
video{
  width: 100%;
  height: auto;
}
audio{
  display: none;
}

header #playlist{
  position: absolute;
  background-color: black;
  color: white;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  top: 0;
  padding-left: 1.3em;
}
#playlist {
  margin-top: 0;
  width: 100%;
  height: 450px;
  overflow-y: auto;
  scroll-behavior: unset;
}
#playlist li{
  width: 100%;
  border: 1px solid;
  cursor:pointer;
  padding:2px;
  margin: 5px -19px;
  text-decoration: none;
  box-shadow: 1px -1px 8px 2px rgba(0,4,235,0.75);
-webkit-box-shadow: 1px -1px 8px 2px rgba(0,4,235,0.75);
-moz-box-shadow: 1px -1px 8px 2px rgba(0,4,235,0.75);
}
ul{
  list-style:none;
}
#playlist li h1{
  font-size: 14px;
}
#playlist li a{
  font-size: 12px;
  text-align: right;
  border: 1px solid;
  width: max-content;
  margin-left: auto;
}
#playlist li:hover{
  color:blue;                        
}
#playlist h1{
  font-size: 24px;
}
a {
  text-decoration:none;
}
.active a {
  color:#5DB0E6;
  text-decoration:none;
}
li a{
  color: orangered;
  padding:5px;
  display:block;
}
li a:hover{
  text-decoration:none;
  color: red;
}
  /* partie document a telecharger  de l'application*/

.infos{
  width: max-content;
  display: flex;
  margin: auto;
  align-items: center;
}
.infos span{
  color: blue;
  font-size: 12px;
  margin: 3px;
  
}
.infos em{
  color: red;
  font-size: 12px;
  margin: 3px;
}
.infos .btn-infos{
  text-align: center;
  width: 30px;
  border: 1px solid orangered;
  border-radius: 0px 10px 0px 10px;
  background-color: black;
  color: white;
  margin: 0px 5px 3px 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.back{
  position: fixed;
  top: 90%;
  width: max-content;
  height: max-content;
  background-color: gray;
  padding: 0.2em;
  margin: 0.3em;
  border: 1px solid blue;
  border-radius: 50px;
}
.nav {
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  width: 99%;
  border: 1px solid blue;
  box-shadow: 5px 0px 0px 1px rgba(0,0,0,0.75);
}
.navbar{
  margin: auto;
  display: flex;
  width: max-content;
}
.navbar i{
  height: 25px;
  margin: 3px 5px 1px 5px;
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
.navbar .fa-home{
  background-color: white;
  padding: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 0px;
  padding: 7px;
  position: relative;
  bottom: 5%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.navbar .fa-home:hover{
  width: 35px;
  height: 35px;
  transform: scaleY(1);
  padding: 10px;
  color: orange;
  background-color: blue;
}
/*popup css*/
#my_modal .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

#my_modal .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#my_modal .container {
  padding: 2px 16px;
}
/*popup css*/
#my_modal{
  width: 90%;
  height: 300px;
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  /*// making modal center*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  /*// hide for the first time */

  display: none;
}
#my_modal h2{
  margin: 0px;
}
#show_time{
  font-size: 18px;
  color: red;
}