/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}
  #presentation{
  	
  	
  }
 #presentation p{
  	font-size: 11px;
  }
  
  #presentation a{
  	font-size:11px;
  }
  
  #presentation h1{
  font-size:12px;
  }
}