a:link,
 a:visited{
  text-decoration: none;
 }

 .modal{
  background-color: rgba(0,0,0, .8);
  width:100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
 }

 .modal__content{
  width: 99%;
  height: 65%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2em;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  oferflow: auto;
  overflow: hidden;
 
 }

 #modal:target{
  opacity: 1;
  visibility: visible;
 }

 #modal:target .modal__content{
  opacity: 1;
  visibility: visible;
 }

 .modal__close{
  color: #FFF;
  font-size: 2em;
  position: absolute;
  top: 0em;
  right: 0px;
  width: 100%;
  background: blue;
  text-align:right;
  margin-bottom:1em;
 }

 .modal__heading{
 width:100%;
  color: orange;
  padding-top: 1em;
  margin-bottom: 1em;
  background: green;
 }
 
 #h2{
 width:100%;
 border: 2px solid;
 color: green;
 margin-bottom: 1em;
 background: orange;
 }

 .modal__paragraph{
  line-height: 1.5em;
 }

.modal-open{
display: inline-block;
}