body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}
#messages{
    background-color: rgba(128, 128, 128, 0.44);
    padding-bottom: 10%;
    height: 250px;
    overflow-y: scroll;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 3px;
}

ul{
    margin-left: -0.3em;
}
#chat li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
    width: 98%;
    box-shadow: 1px 0px 10px -1px rgba(0,0,0,0.93);
    -webkit-box-shadow: 1px 0px 10px -1px rgba(0,0,0,0.93);
    -moz-box-shadow: 1px 0px 10px -1px rgba(0,0,0,0.93);

}

#chat li span {
    font-style: italic;
    font-weight: bolder;
    color:blue;
    font-family:'Arial Narrow Bold', sans-serif;
    background-color: rgb(218, 209, 209);
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#chat {
    overflow-y: scroll;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid black;
}

#message-form {
    text-align: center;
    width: 100%;
    height: max-content;
    background-color: #b7b5b9;
    display: flex;
    margin-top: 5px;

}
#username{
    border: 1px solid blue;
    margin-top: 1em;
    padding: 10px;
    background-color: white;
    overflow-y: scroll;
}

textarea {
    width: 75%;
    height: 50px;
    resize:none;
    font-size: 11px;
    margin: 0px;
}

button {
    width: 25%;
    height: 50px;
    margin-bottom: 0.3em;
    margin-top: 0.1em;
}

.sent {
    text-align: right;
    background-color: #a79cb3;
    margin-left: 50%;
}

.sent span {
    margin-left: 5px;
    color: #6929ca;
}

  