body{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 18px;
    text-align: center;
    color: blue;
}
h2{
    font-size: 16px;
    text-align: center;
    color: orange;
}
p{
    font-size: 12px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;

}
h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    margin-bottom: 0px;
}
img{
    width: 100%;
}
ul li{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
section{
    height: 100%;
    background-color: white;
    border: 1px solid gray;
    overflow: hidden;
    padding: 3px;
    margin: 2px;
    box-shadow: 0px 1px 0px 1px black;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
video{
    border: 1px solid blue;
    background-color: blue;
    background-image: url('images/formation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#first, #second, #three{
    display: none;
}
#home{
    background-image: url('images/background.jpg');
    height: 100vh;
    color: white;
}
#home .text{
    position: absolute;
    top: 10%;
    bottom: 25%;
}
#home h1{
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.967);
}
#home h3{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}
#home p{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-bottom: 0.5em;
    font-weight: normal;
}
#home .images{
    width: max-content;
    margin: auto;
}
#home img{
    width: 150px;
}
#home .homebtn{
    width: 100%;
    font-size: 12px;
    padding: 3px;
    color: blue;
}
.homebtn .btn{
    width: 73%;
    padding: 1em;
    margin: 0.3em;
}
#home form{
    border: 1px solid yellow;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.289);
    align-items: center;
    padding: 1em;
    margin: auto;
}
#home form input{
    padding: 0.5em;
    width: 100%;
}
#home form .btn{
    padding: 0.4em;
    width: 100%;
}
#navig{
    display: none;
}
.navig{
    display: flex;
    width: 100%;
    border: 2px solid green;
}
#navig .btn{
    border: 1px solid blue;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    color: blue;
    height: 25px;
}
.infos{
display: flex;
border: 1px solid orange;
margin: 0px;
}
.infos .chapitre{
background-color: blue;
width: 20px;
margin: 0px;
text-align: center;
align-items: center;
padding: 2px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: white;
}
.infos p{
color: black;
font-weight: bold;
}