body{
  margin: 0;
  padding: 0;
}


ul{
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-snap-align: start;
  overflow-x: auto;

}
ul li{
  margin: 1px;
  margin: auto;
  flex-shrink: 0;
  background-color: white;
  text-align: center;
  font-family: arial;
  justify-content: center;
  list-style: none;
}
ul li a{
  text-decoration: none;
}
#wrapper{
  width: 100%;
  margin: 0px;
}

main{
  width: 100%;
}
main section{
  width: 100%;
  margin: 0;
}
section .card{
  margin: 3px;
  border: solid 1px blue;
}
section .card .item img{
  width: 90px;
  height: 100px;
  margin:4px auto;
}
section .card .item h1{
  font-size: 14px;
  color: blue;
  font-weight: bold;
  text-align: center;
}
section .card .item p{
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 399px){
  .card{
    width: 14px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: blue;
  }
}

@media screen and (max-width: 401px){
  .card{
    width: 124px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: green;
  }
}
@media screen and (max-width: 600px) {
  .bar{
    background-color: blue;
    height: 100px;
  }
  .bar h1{
    color: white;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 5px;
  }
  .search-bar {
    align-items: center;
    border: 1px solid;
    width: 80%;
    height: 33px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: auto;
    padding: 5px;
}
.search-bar input{
  width: 98%;
  height: 25px;
  outline: white;
  border: 0px;
}
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin:10px auto;
    padding-bottom: 1em;
  }
  .card{
    max-width: 125px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
  }
  section .card .item h1{
    font-size: 14px;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }
  section .card .item p{
    font-size: 12px;
    margin-top: 1px;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .button{
    width: 90%;
    margin: 0px auto;
  }
  .card .item .btn{
    width: fit-content;
    text-decoration: none;
    border: 1px solid blue;
    margin-bottom: 1em;
    background: blue;
    color: white;
    padding:5px;
  }
}
@media screen and (min-width: 601px) {
  .bar{
    background-color: blue;
    height: 200px;
  }
  .bar h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 0px;
    padding-top: 5px;
  }
  .search-bar {
    align-items: center;
    border: 1px solid;
    width: 80%;
    height: 66px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: auto;
    padding: 5px;
}
.search-bar input{
  width: 98%;
  height: 50px;
  outline: white;
  border: 0px;
  font-size: 27px;
}
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin:10px auto;
    padding-bottom: 1em;
  }
  .card{
    max-width: 239px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10px;
  }

  section .card .item img{
    width: 149px;
    height: 200px;
    margin:4px auto;
  }
  section .card .item .h1{
    font-size: 26px;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }
  section .card .item p{
    font-size: 18px;
    margin-top: 1px;
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .button{
    width: 90%;
    margin: 0px auto;
  }
  .card .item .btn{
    font-size: 29px;
    width: fit-content;
    text-decoration: none;
    border: 1px solid blue;
    margin-bottom: 1em;
    background: blue;
    color: white;
    padding:5px;
  }
}
