
    #panel{
      border: solid #6c757d 3px;
      border-radius: 3px;
      margin-top: 50px;
      display: inline-block;
      padding: 20px;
      width: 30%;
    }
    #panel * {display: block; padding: 1px;}
    #panel h2{color: #6c757d;}
    #panel button{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 5px;
    }
    #panel input{  
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #6c757d;
  }
  #panel label{float: left;}
  #panel svg{width: 20%;height: 20%;color: #6c757d;}
  section{
    width: 100%;
    overflow: hidden;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .container{
      width: 100%;
      padding: 0;
    }
    .content{
      width: 100%;
      padding: 0;
    }
    main{
      width: 100%;
      padding: 0;
      height: 100vh;
    }
    section{
      border: 2px solid green;
      margin-top: 5px;
    }
    h1{
      font-size: 14px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #panel{
      background-color: white;
      border: solid #6c757d 3px;
      border-radius: 3px;
      margin-top: 80px;
      margin-bottom: 200px;
      display: inline-block;
      padding: 20px;
      width: 90%;
    }
    #login{
      background-color: black;
      width: 100%;
    }
    #acces{
      width: 100%;
      border: 1px solid blue;
      background-color: gray;
      height: 100vh;
      color: white;
    }
  }